
.wrap{
	background: url(../img/top-bg.png) no-repeat 0 center;

	background-size: cover;}

.top-header h1 {
	color: #fff;
	padding: 40px 0 0 25px;
	margin: 0;
}
.top-menu{
	color: #fff;
	padding: 40px 17px 0 0;
	margin: 0;
	font-size: 18px;
	text-transform: uppercase;
}